body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

.navbar {
    height: 120px;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.section {
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.section h2 {
    color: #00ff00;
}

.section-1 {
    height: 650px;
    width: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.section-2 {
    height: 500px;
    width: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    gap: 50px;
    flex-wrap: wrap;
}

.section-3 {
    height: 500px;
    width: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
}

.section-4 {
    height: 500px;
    width: 100%;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
}

.game-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.game-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    scroll-behavior: smooth;
}

.game-card {
    height: 280px;
    background-color: #333;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    min-width: 200px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.contact-form {
    background-color: #333;
    padding: 40px;
    border-radius: 5px;
}

.contact-form input,
.contact-form button,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #00ff00;
    color: #000;
}
